.navbar-header {
	margin-top: -20px;
}

.navbar-brand {
  height: 80px;
}

.navbar-default .navbar-nav > li >a {
  padding-top: 40px;
  padding-bottom: 25px;
}
.navbar-toggle {
  padding: 10px;
  margin: 35px 15px 25px 0;
  margin-bottom: 0;
}

body{
	padding-top: 120px;
	margin-right: 50px;
	margin-left: 50px;
}


.footer{
	margin-top: 20px;
	width: 100%;
	max-height: 50px;
	display: block;
	text-align: center;
}

h1{
	color: #8ba4d5;
	margin-left: -3px;
}

h3{
	color: #649840;
}

h4{
	color: #23408F;
}

#bio{
	border-bottom: 2px solid grey;
	margin-bottom: 15px;
}

.underline{
	border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #8BA4D5;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

#underline{
	border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #8BA4D5;
    margin-bottom: 15px;
    padding-bottom: 0px;
}